<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>"Pokemon:"{{x[0]}}</title>

</head>
<body>
    <h1>
        <center><b>
            {{x[0]}}
        </b></center>
    </h1>
    <h2>
        <center>
            <img src="{{x[1]}}" alt="{{x[0]}}" style="height:250px;width:250px">
        </center>
    </h2>
    <h2>
        <center>
                Id: {{x[2]}} &emsp;
                Tinggi: {{x[4]}} &emsp;
                Berat: {{x[3]}}
        </center>
    </h2>
    <br>
    <center>
        <form action="http://localhost:5000/">
            <p> 
            <input type="submit" value="Kembali">
            </p>
        </form>
    </center>
</body>
</html>