<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cari Pokemon</title>
</head>

    <center>
        <img src="https://fontmeme.com/images/Pokemon-Logo.jpg" alt="Pokemon">
    </center>

<body>
    <a>
    <center>
            <form action="http://localhost:5000/hasil" method="post">
                <p>
                    <input name="nama" type="text" placeholder="Ketik Nama Pokemon..." required></p>
                <p>
                    <input type="submit" value="Cari pokemon">
      </form>
    </center>
    </a>
</body>
</html>